<configuration scan="true" scanPeriod="10 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <expression>return logger.contains("energy.usef.CONFIDENTIAL");</expression>
      </evaluator>
      <OnMismatch>ACCEPT</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DEFAULT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <expression>return logger.contains("energy.usef.CONFIDENTIAL");</expression>
      </evaluator>
      <OnMismatch>ACCEPT</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
    <file>${jboss.server.log.dir}/dso/default-messages.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${jboss.server.log.dir}/dso/default%d{yyyy-MM-dd_HH}.log</fileNamePattern>
      <!-- keep 72 hours worth of history -->
      <maxHistory>72</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender> 
  
  <appender name="CONFIDENTIAL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
      <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
        <expression>return logger.contains("energy.usef.CONFIDENTIAL");</expression>
      </evaluator>
      <OnMismatch>DENY</OnMismatch>
      <OnMatch>NEUTRAL</OnMatch>
    </filter>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    
    <file>${jboss.server.log.dir}/dso/confidential-messages.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${jboss.server.log.dir}/dso/confidential%d{yyyy-MM-dd_HH}.log</fileNamePattern>
      <!-- keep 12 hours worth of history -->
      <maxHistory>12</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender> 

  <root level="info">
      <!--<appender-ref ref="STDOUT"/>-->
      <appender-ref ref="DEFAULT_FILE"/>
      <appender-ref ref="CONFIDENTIAL_FILE"/>
  </root>

  <include optional="true" file="${jboss.server.config.dir}/LogBackDso.xml"/>

</configuration>
